@using PiPictureFrame.Web.Controllers
@model PictureDirectoryModel;

@{
    ViewData["System"] = "Upload Images";
}

<div class="header">
    <h1>Upload Images</h1>
</div>

<div class="content">

    @await Html.PartialAsync( "~/Views/Shared/_Alert.cshtml", Model )

    <form action="/Upload/DoUpload" method="post" enctype="multipart/form-data">
        <div>
            <h2>Step 1: Pick files to upload.</h2>
            <input id="fileInput" class="form-control" type="file" name="FilesToUpload" accept="image/jpeg, image/png" oninput="fileInput_oninput(this);" multiple />
        </div>
        <div>
            <h2>Step 2: Pick a Directory to upload them to.</h2>
            <div class="pure-g">
                <select id="uploadDirectorySelect" class="pure-u-5-5" name="UploadDirectory" onchange="uploadDirectorySelect_onchange(this);">
                    <option id="newDirectoryOption" value="@UploadController.CreateNewDirectoryCode" selected>Upload to new Directory</option>
                    @foreach( string directory in Model.DirectoryNames )
                    {
                        <option value="@directory">@directory</option>
                    }
                </select>
            </div>
            <div>
                <h2>Step 2.5: If creating a new directory, type in new directory name below.</h2>
                <div class="pure-g">
                    <input 
                        class="pure-u-5-5"
                        id="otherDirectoryText"
                        type="text"
                        name="NewDirectoryName"
                        oninput="otherDirectoryText_onchange(this)"
                    />
                </div>
            </div>
        </div>
        <div>
            <h2>Step 3: Upload!</h2>
            <input id="uploadButton" class="button-xlarge button-blue pure-button" name="UploadButton" type="submit" value="Upload" />
        </div>
    </form>

</div>

@section scripts
{
    <script>
        var fileInput;
        var otherDirectoryTextBox;
        var uploadButton;

        window.onload = function()
        {
            uploadButton = document.getElementById( "uploadButton" );
            uploadButton.disabled = true; // Disabled by default since we won't have files right away.

            fileInput = document.getElementById( "fileInput" );
            otherDirectoryTextBox = document.getElementById( "otherDirectoryText" );
            otherDirectoryText_onchange( otherDirectoryTextBox );
        };

        function uploadDirectorySelect_onchange( select )
        {
            if( select.value === "@UploadController.CreateNewDirectoryCode" )
            {
                otherDirectoryTextBox.disabled = false;
            }
            else
            {
                otherDirectoryTextBox.disabled = true;
            }

            otherDirectoryText_onchange( otherDirectoryTextBox );
        }

        function fileInput_oninput( input )
        {
            otherDirectoryText_onchange( otherDirectoryTextBox );
        }

        function otherDirectoryText_onchange( text )
        {
            var fileSelected = fileInput.files.length > 0;
            if ( text.disabled === true )
            {
                // If our text box is not enabled,
                // it means that our selected value is not to create a new directory.
                // Therefore, always enable the button, but only if we have a file selected.
                uploadButton.disabled = !fileSelected;
            }
            else
            {
                // However, if our text box is enabled, it means that
                // we do not want this text box to be blank.
                // If it is blank, then disable the button until a new value is put in.
                if( !text.value || ( text.value === "" ) )
                {
                    uploadButton.disabled = true;
                }
                else
                {
                    uploadButton.disabled = !fileSelected;
                }
            }
        }
    </script>
}