@{
    ViewData["Title"] = "Credits";
}

@model PiPictureFrame.Api.Resources;

@{
    string html = MarkdownToHtmlConverter.Convert( Model.GetCredits() );
}

<div class="content">
    @Html.Raw( html )
</div>
