@{
    ViewData["Title"] = "About";
}

<div class="header">
    <h1>About Rasp Pi Picture Frame</h1>
</div>

<div class="content">
    <h2>App Information</h2>
    <ul>
        <li><strong>Version: </strong></li>
        <li><strong>API Version: </strong></li>
    </ul>

    <h2>Documentation</h2>
    <ul>
        <li><a href="https://github.com/xforever1313/RaspPiPictureFrame" target="_blank" rel="noopener noreferrer nofollow">View Source</a></li>
        <li><a href="/About/License/">View License</a></li>
        <li><a href="/About/Credits/">View Credits</a></li>
        <li><a href="/About/Readme/">View Read</a></li>
    </ul>
</div>
