@{
    ViewData["Title"] = "License";
}

@model PiPictureFrame.Api.Resources;

@{
    string html = MarkdownToHtmlConverter.Convert( Model.GetLicense() );
}

<div class="content">
    @Html.Raw( html )
</div>
