@model HomeModel;

@{
    ViewData["Title"] = "Home Page";
    string albumName = @Model.Api.Renderer.CurrentPicturePath?.DirectoryName ?? "";
    string currentPicture = @Model.Api.Renderer.CurrentPicturePath?.Name ?? "";

    string currentImage;
    if(
        ( string.IsNullOrWhiteSpace( albumName ) == false ) &&
        ( string.IsNullOrWhiteSpace( currentPicture ) == false )
    )
    {
        currentImage = $"{albumName}/{currentPicture}";
    }
    else if( string.IsNullOrWhiteSpace( currentPicture ) )
    {
        currentImage = "Unknown";
    }
    else if( string.IsNullOrWhiteSpace( albumName ) )
    {
        currentImage = currentPicture;
    }
}

<div class="header">
    <h1>Rasp Pi Picture Frame</h1>
    <h2>Web Control Interface</h2>
</div>

<div class="content">

    @await Html.PartialAsync( "~/Views/Shared/_Alert.cshtml", Model )

    <h2 class="content-subhead">Current Image:</h2>
    <p>
        @currentPicture
        <!-- Doesn't work yet.... current.jpg is too slow. -->
        <!-- <img src="current.jpg" alt="Current Image" width="400" height="300" /> -->
    </p>

    <form action="/Home/ChangePicture/" method="post">
        <p>
            <input id="changeImageButton" class="button-xlarge button-blue pure-button" name="changeImageButton" type="submit" value="Change Image Now" />
        </p>
    </form>
</div>